* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-color: rgba(0,0,0,.2) rgba(0,0,0,.1);
  scrollbar-width: thin;
}
body {
  font-size: 14px;

  font-family: Roboto,sans-serif;

}

main {
	width: calc(100% - 265px);
	margin-left: 265px;
	background-color: #eaeaea;
}

header {
	width: 100%;
	z-index: 1;
	background: #fff;
	height: 68px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .welcome {
	margin-left: 30px;
	font-size: 26px;
	font-weight: bolder;
}
header .pro-detls {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

header .pro-detls {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
nav {
  width: 265px;
  height: 100vh;
  background-color: #0077be;
  position: fixed;
  text-align: center;
  padding: 20px 0;
}
nav .edulogo {
  padding: 0 10px 25px;
}
nav .edulogo img {
  width: 100%;
}
img {
  max-width: 100%;
}
nav > ul {
  padding: 0;
  overflow: auto;
  height: calc(100% - 175px);
}
nav > ul > li {
  border-bottom: 1px solid #f1f1f142;
  color: #fff;
  text-align: start;
  cursor: pointer;
}
li {
  list-style-type: none;
}
nav .mmslogo {
  padding: 0 10px 25px;
}
nav .mmslogo a {
  color: #fff;
  text-decoration: none;
  text-align: left;
  display: block;
}
nav ul li .mn {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
nav ul li:hover .mn {
  background-color: #000;
}
nav ul li span i {
  font-size: 18px;
  margin-right: 10px;
}
nav ul li i {
  color: #f68a03;
}

nav ul li .fa-angle-down {
  display: none;
}
.fa-solid, .fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
header .pro-detls .dropdown button img {
  width: 60px;
  margin-top: 5px;
}

img {
  max-width: 100%;
}
img, svg {
  vertical-align: middle;
}
header .pro-detls .dropdown .dropdown-menu {
  box-shadow: 0 2px 4px -1px #0003,0 4px 5px #00000024,0 1px 10px #0000001f;
  border: 0;
  border-radius: 5px;
  min-width: 11.5rem;
  padding: .5rem 0;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-menu {
  z-index: 1000;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
}
header .pro-detls .dropdown .dropdown-menu li a {
  color: #333;
  font-weight: 500;
  font-size: 14px;
  padding: 13px 16px;
  text-decoration: none;
  width: 100%;
  float: left;
}
header .pro-detls .dropdown .dropdown-menu li a i {
  margin-right: 10px;
}
header .pro-detls .dropdown .dropdown-menu li {
  display: block;
  width: 100%;
  float: left;
}